* {
    padding: 0;
    margin: 0;
}

:root {
    --main_board: 550px;
    --inner_board: 525px;
    --player_container: 210px;
    --small_square: 35px;
    --inner_player_container: calc(0.7 * var(--player_container));
    --middle_path_width_v: calc(3*var(--small_square));
    --middle_path_height_v: calc(6*var(--small_square));
    --middle_path_width_h: calc(6*var(--small_square));
    --middle_path_height_h: calc(3*var(--small_square));

    /* player_card */
    --player_card_width: 225px;
    --player_card_height: 200px;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}










/* Ludo Board  */

.main_board {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: var(--main_board);
    transform: 1s;
}

.inner_board {
    background-color: rgb(17, 6, 6);
    display: grid;
    grid-template-columns: var(--player_container) 105px var(--player_container);
    grid-template-rows: var(--player_container) 105px var(--player_container);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    max-width: var(--inner_board);
}

.player_container {
    background-color: aqua;
    aspect-ratio: 1/1;
    max-width: var(--player_container);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.middle_path_v {
    display: grid;
    grid-template-columns: var(--small_square) var(--small_square) var(--small_square);
    grid-template-rows: repeat(6, var(--small_square));
    width: var(--middle_path_width_v);
    height: var(--middle_path_height_v);
    grid-auto-flow: column;
    background-color: rgb(255, 0, 0);
}

.middle_path_h {
    display: grid;
    grid-template-rows: var(--small_square) var(--small_square) var(--small_square);
    grid-template-columns: repeat(6, var(--small_square));
    width: var(--middle_path_width_h);
    height: var(--middle_path_height_h);
    grid-auto-flow: row;
    background-color: rgb(255, 0, 0);
}

.square {
    background-color: white;
    border: 1px solid black;
    aspect-ratio: 1/1;
    color: black;
    max-width: var(--small_square);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_container {
    background-color: rgb(23, 111, 234);
    aspect-ratio: 1/1;
    width: 105px;
}

.inner_player_container {
    aspect-ratio: 1/1;
    width: 150px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

.outer_piece_container {
    aspect-ratio: 1/1;
    width: 75px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece_container {
    aspect-ratio: 1/1;
    width: 45px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    aspect-ratio: 1/1;
    width: 25px;
    /* background-color: red; */
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}





/* Piece Color  */

.yellow_piece {
    background-color: rgb(161, 161, 21);
}

.red_piece {
    background-color: rgb(183, 0, 0);
}

.green_piece {
    background-color: rgb(11, 74, 11);
}

.blue_piece {
    background-color: rgb(9, 81, 183);
}





/* Player Container Color   */
#player_container_1 {
    background-color: rgb(23, 111, 234);
}

#player_container_2 {
    background-color: rgb(236, 236, 49);

}

#player_container_3 {
    background-color: rgb(11, 112, 11);
}

#player_container_4 {
    background-color: red;
}



.blue_square {
    background-color: rgb(23, 111, 234)
}

.yellow_square {
    background-color: rgb(236, 236, 49)
}

.green_square {
    background-color: rgb(11, 112, 11);
}

.red_square {
    background-color: red;
}



/* Player_Card */

.player_card_1,
.player_card_2,
.player_card_3,
.player_card_4 {
    width: var(--player_card_width);
    height: var(--player_card_height);
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    /* left: 0px; */
}

.player_card_1 {
    left: 42px;
    bottom: 20px;
}

.player_card_2 {
    left: 42px;
    top: 20px;
}

.player_card_3 {
    right: 42px;
    top: 20px;
}

.player_card_4 {
    right: 42px;
    bottom: 20px;
}

.player_video {
    aspect-ratio: 16/9;
    width: 60%;
    /* border-radius:30px; */
    background-color: orangered;
}

.player_details {
    width: 100%;
    height: 100%;
    /* background-color: white; */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.player_name {
    font-size: 30px;
    font-weight: 600;
    background-color: bisque;
    width: 100%;
    height: 40%;
    color: black;
    text-align: center;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.player_dice {
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(43, 19, 132);
    width: 100%;
    height: 60%;
    text-align: center;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.random_num {
    font-size: 20px;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: aquamarine;
    border-radius: 30px;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.random_btn {
    border-radius: 50px;
    cursor: pointer;
    width: 35%;
    height: 40%;
    border: 5px solid rgb(130, 2, 2);
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.blink_animation {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.background_animation {
    animation: backgrounds 1s infinite;
}

/* @keyframe backgrounds {
    0% {
        background-color: white;
    }

    50% {
        background-color: green;
        /* opacity: 0; */
    /* }

    100% {
        background-color: purple;
        /* opacity: 1; */
    /* } */

/* } */ 

.border_animation {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(14, 15, 15, 0.75);
    outline-style: solid;
    animation: animateOutline 1s ease infinite;
}

@keyframes animateOutline {
    0% {
        outline-width: 1px;
        outline-offset: 0;
        outline-color: rgba(0, 130, 206, 0);
    }

    10% {
        outline-color: rgba(0, 130, 206, 0.75);
    }

    /* The animation finishes at 50% */
    50% {
        outline-width: 7px;
        outline-offset: 4px;
        outline-color: rgba(0, 130, 206, 0);
    }

    100% {
        outline-width: 7px;
        outline-offset: 4px;
        outline-color: rgba(102, 102, 102, 0);
    }
}

/* //Rotating Border animation  */
@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.rotating-border {
    --border-radius: 100px;
    --border-size: 1px;
    --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    --padding: 1px;

    position: relative;
    overflow: hidden;
    font-size: 2rem;
    padding: calc(var(--padding) + var(--border-size));
    border-radius: var(--border-radius);
    display: inline-block;

    &::before {
        content: '';
        display: block;
        background: var(--border-bg);
        width: calc(100% * 1.41421356237);
        padding-bottom: calc(100% * 1.41421356237);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        z-index: -2;
        animation: spin 5s linear infinite;
    }

    &--reverse::before {
        animation-direction: reverse;
    }

    &::after {
        content: '';
        position: absolute;
        inset: var(--border-size);
        background: white;
        z-index: -1;
        border-radius: calc(var(--border-radius) - var(--border-size));
    }
}

/* ---------- End .rotating-border ---------- */

/* ---------- Begin customizing .rotating-border ---------- */
.rotating-border--google {
    --border-radius: 0.5rem;
    --border-size: 0.25rem;
    --border-bg: conic-gradient(#ea4335 0.0turn 0.125turn,
            #4285f4 0.125turn 0.25turn,
            #fbbc05 0.25turn 0.375turn,
            #34a853 0.375turn 0.5turn,
            #ea4335 0.5turn 0.625turn,
            #4285f4 0.625turn 0.75turn,
            #fbbc05 0.75turn 0.875turn,
            #34a853 0.875turn 1.0turn);

    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 2;
}

.rotating-border--rainbow {
    --border-radius: 1.5rem;
    --border-size: 0.5rem;
    --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

.rotating-border--black-white {
    --border-radius: 100%;
    --border-size: 0.6rem;
    --border-bg: conic-gradient(#fff 0.00turn 0.05turn,
            #333 0.05turn 0.10turn,
            #fff 0.10turn 0.15turn,
            #333 0.15turn 0.20turn,
            #fff 0.20turn 0.25turn,
            #333 0.25turn 0.30turn,
            #fff 0.30turn 0.35turn,
            #333 0.35turn 0.40turn,
            #fff 0.40turn 0.45turn,
            #333 0.45turn 0.50turn,
            #fff 0.50turn 0.55turn,
            #333 0.55turn 0.60turn,
            #fff 0.60turn 0.65turn,
            #333 0.65turn 0.70turn,
            #fff 0.70turn 0.75turn,
            #333 0.75turn 0.80turn,
            #fff 0.80turn 0.85turn,
            #333 0.85turn 0.90turn,
            #fff 0.90turn 0.95turn,
            #333 0.95turn 1.00turn);
}

.rotating-border--black-yellow {
    --border-radius: 100%;
    --border-bg: conic-gradient(#F0C400 0.1666turn,
            #444 0.1666turn 0.3333turn,
            #F0C400 0.3333turn 0.5turn,
            #444 0.5turn 0.6666turn,
            #F0C400 0.6666turn 0.8333turn,
            #444 0.8333turn);
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

/* Big-small animation */

.big-small_animation {
    animation: big-small 1s infinite;
}

@keyframes big-small {
    0% {
        transform: scale(1);
    }

    /* 50% {
        transform: scale(1.2);
    } */

    100% {
        transform: scale(1.2);
    }

}



.outline_animation {
  outline-width: 15px;
  outline-offset: 0;
  outline-color: rgba(0, 73, 114, 0.75);
  outline-style: solid;
  animation: animateOutline 1s ease infinite;
}

@keyframes animateOutline {
  0% {
    outline-width: 0px;
    outline-offset: 0;
    outline-color: rgba(0, 0, 0, 0);
  }

  10% {
    outline-color: rgba(0, 0, 0, 0.75);
  }

  /* The animation finishes at 50% */
  50% {
    outline-width: 15px;
    outline-offset: 4px;
    outline-color: rgba(0, 0, 0, 0);
  }

  100% {
    outline-width: 30px;
    outline-offset: 8px;
    outline-color: rgba(0, 0, 0, 0);
  }
}
.z_index{
    z-index:  1;;
}



/* Waiting Page CSS */
.playful span {
    position: relative;
    color: #5362F6;
    text-shadow: 0.25px 0.25px #E485F8, 0.5px 0.5px #E485F8, 0.75px 0.75px #E485F8, 1px 1px #E485F8, 1.25px 1.25px #E485F8, 1.5px 1.5px #E485F8;
    animation: scatter 1.75s infinite;
}

.playful span:nth-child(2n) {
    color: #ED625C;
    text-shadow: 0.25px 0.25px #F2A063, 0.5px 0.5px #F2A063, 0.75px 0.75px #F2A063, 1px 1px #F2A063, 1.25px 1.25px #F2A063, 1.5px 1.5px #F2A063;
    animation-delay: 0.3s;
}

.playful span:nth-child(3n) {
    color: #FFD913;
    text-shadow: 0.25px 0.25px #6EC0A9, 0.5px 0.5px #6EC0A9, 0.75px 0.75px #6EC0A9, 1px 1px #6EC0A9, 1.25px 1.25px #6EC0A9, 1.5px 1.5px #6EC0A9;
    animation-delay: 0.15s;
}

.playful span:nth-child(5n) {
    color: #555BFF;
    text-shadow: 0.25px 0.25px #E485F8, 0.5px 0.5px #E485F8, 0.75px 0.75px #E485F8, 1px 1px #E485F8, 1.25px 1.25px #E485F8, 1.5px 1.5px #E485F8;
    animation-delay: 0.4s;
}

.playful span:nth-child(7n),
.playful span:nth-child(11n) {
    color: #FF9C55;
    text-shadow: 0.25px 0.25px #FF5555, 0.5px 0.5px #FF5555, 0.75px 0.75px #FF5555, 1px 1px #FF5555, 1.25px 1.25px #FF5555, 1.5px 1.5px #FF5555;
    animation-delay: 0.25s;
}

@keyframes scatter {
    0% {
        top: 0;
    }

    50% {
        top: -10px;
    }

    100% {
        top: 0;
    }
}

h1 {
    font-size: 150px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    width: 666px;
    max-width: 80vw;
    min-height: 90px;
    height: auto;
    text-align: center;
    margin: 10rem auto;
    margin: calc(50vh - 5rem) auto;
}


